.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0px;
    font-family: fantasy;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid black;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-radius: 50px;

}

.produtos li:hover h2 {
    font-size: 38px;
}

.produtos li:hover{
    border-color: #C78C19;
}

.produtos li:active {
    border-color: #1e8d12;
}

.produto-preco {
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0 0;
}

.produto-descricao {
    font-size: 20px;
}

form {
    font-family: fantasy;
    margin: 40px;
}

main {
    width: 940px;
    margin: 0 auto;
}

form label, form p {
    display: block;
    font-size: 20px;
    margin: 0 0 5px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    font-family: fantasy;
    font-size: 20px;
}

.opcaoparacontato {
    display: inline-block;
    width: 50%;
    font-family: fantasy;
    font-size: 20px;
    margin: 20px 0
}

.checkbox {
    margin: 20px 0;
}

.radio {
    margin: 20px 0;
    font-size: 25px;
}

.select {
    font-family: fantasy;
}



